@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;
    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 21px;
    height: 35px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    border: none;
    outline: none;
    z-index: 11;
}

.slick-prev
{
    background: url(../../images/ic_left.png)no-repeat;
    left: -30px;
    background-size: 100% 100%;
}

.slick-next
{
    right: -30px;
    background: url(../../images/ic_right.png)no-repeat;
    background-size: 100% 100%;
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}
.slick-dots li
{
    position: relative;
    display: inline-block;
    line-height: 0;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}
.slick-dots li button
{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    padding:0;
    cursor: pointer;
    color:
    transparent;
    border: none;
    background-color: #4dd080;
}
.slick-dots li.slick-active button:hover {background-color: #009253}
.slick-dots li button:focus {outline:none;}
.slick-dots li.slick-active button
{
    background-color: #009253;
}
@media(max-width: 1024px) {
    .slick-prev {left: 0;}
    .slick-next {right:0;}
}